<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:layout="http://www.w3.org/1999/xhtml" lang="fr">
    <head>
        <meta charset="utf-8">
        <title>Erreur 500</title>
        <link rel = "stylesheet" href ="../static/css/bootstrap.min.css" th:href = "@{css/bootstrap.min.css}">
        <link rel = "stylesheet" href ="../static/css/style.css" th:href = "@{css/style.css}">
    </head>
    <body>
        <div layout:fragment="content">
            <div class="text-center">
                <h2>Erreur 500</h2>
                <p>veuillez réessayer plus tard.</p><br>
            <a th:href="@{/}"><img src="../../static/images/goodenough.jpg" th:src="@{images/goodenough.jpg}" alt="Erreur 500 David Goodenough"></a><br>
                <button class="btn btn-warning"><a th:href="@{/index}">Retour à l'accueil</a></button>
            </div>
        </div>
    </body>
</html>