<!DOCTYPE html>
<html lang="fr" layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>

<body>
<div layout:fragment="content">
    <div class = "panel panel-primary">
        <div class="container">
            <div class = "panel-heading">Catégories</div>
            <div class = "panel-body">
                <br>
                <table class = "table" >
                    <tr>
                        <td th:each="cat:${listCategory}">
                            <a th:href = "@{/ (id=${cat.id} , category=${cat.name})}" th:text = "${cat.name}"></a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class = "panel-heading">Liste des Contacts</div>
        <div class = "panel-body">
            <table class = "table" >
                <tr>
                    <th>Id</th><th>Nom</th><th>Prénom</th><th>Email</th><th>Téléphone</th><th>Adresse</th><th>Mettre à jour</th>
                </tr>
                <tr th:each="c:${listContact}">
                    <td th:text="${c.id}">?</td>
                    <td th:text="${c.firstName}"></td>
                    <td th:text="${c.lastName}"></td>
                    <td th:text="${c.email}"></td>
                    <td th:text="${c.phone}"></td>
                    <td th:text="${c.address}"></td>
                    <td><a class="btn btn-warning" th:href="@{/updateContact(idContact=${c.id})}">Changer</a></td>
                </tr>
            </table>
            <br>
            <ul class="nav">
                <li class="nav-item" th:class="${currentPage == status.index}?'active':''" th:each="page, status:${pages}" >
                    <a class="nav-link active" th:href = "@{/(id=${idCat != null}?${idCat}:'' , page=${status.index}, keyword=${keyword})}" th:text="${status.index}"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>

</body>
</html>