<!DOCTYPE html>
<html lang="fr" layout:decorate="layout"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Contacts</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet" th:href="@{css/bootstrap.min.css}">
</head>

<body>
<div layout:fragment="content">
    <div class = "panel panel-primary">
        <div class = "panel-heading">Liste des Contacts</div>
        <div class = "panel-body">

            <form th:action ="@{/}" method = "get">
                <label>Mot clés</label>
                <input type = "text" name = "keyword" th:value = "${keyword}">
                <button type = "submit" class = "btn btn-primary"> Rechercher </button>
            </form>
            <br>
            <table class = "table" >
                <tr>
                    <th>Id</th><th>Nom</th><th>Prénom</th><th>Email</th><th>Téléphone</th><th>Adresse</th>
                </tr>
                <tr th:each="c:${contacts}">
                    <td th:text="${c.id}">?</td>
                    <td th:text="${c.firstName}"></td>
                    <td th:text="${c.lastName}"></td>
                    <td th:text="${c.email}"></td>
                    <td th:text="${c.phone}"></td>
                    <td th:text="${c.address}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>

</body>
</html>